<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Bus {{bus.id}}</h3>
    <span data-toggle="tooltip" data-placement="top" title="Add a general loco (GL)">
      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#bus-{{bus.id}}-addGL">
        <span class="glyphicon glyphicon-plus"/>
      </button>
    </span>
  </div>
  <div class="panel-body">
    {{general-locos gls=bus.gls}}
  </div>
  {{add-gl bus=bus onAdd=(action 'addGL')}}
</div>
