<div class="container-fluid">
  {{gember-header session=model}}
  {{buses-buses buses=model.buses}}
<!--
  {{#each model.buses as |bus|}}
    <div>{{bus.id}}</div>
    {{general-locos gls=bus.gls}}
  {{/each}}
-->
</div>
